.df-progressbar.df-style1 {
  padding: 40px 30px;
}

.df-progressbar.df-style1 .df-single-progressbar:not(:last-child) {
  margin-bottom: 30px;
}

.df-progressbar.df-style1 .df-single-bar-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 400;
  margin-bottom: 4px;
  margin-top: -6px;
}

.df-progressbar.df-style1 .df-single-bar {
  position: relative;
  height: 5px;
  background: #eaeaea;
  border-radius: 3px;
  overflow: hidden;
}

.df-progressbar.df-style1 .df-single-bar-in {
  position: absolute;
  height: 100%;
  left: -100%;
  top: 0;
  background-color: #5752d0;
  border-radius: 3px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.df-progressbar.df-style1 .df-progressbar-title {
  font-size: 14px;
  line-height: 1.6em;
}

.df-progressbar.df-style1 .df-progressbar-label {
  font-size: 14px;
  line-height: 1.6em;
  color: #666;
}

.df-progressbar.df-style1 .df-single-bar.df-active .df-single-bar-in {
  left: 0%;
}

.df-type1.df-progressbar.df-style1 .df-single-bar-title {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 1.6em;
  font-weight: 400;
}

.df-progressbar.df-style1.df-type1 {
  padding: 0;
}

.df-progressbar.df-style1.df-type1 .df-progressbar-number {
  font-size: 36px;
  line-height: 1.2em;
  font-weight: 400;
  margin: 0;
  color: #222;
}
