.df-roadmap.df-style2 {
  border: 2px solid #eaeaea;
  border-radius: 5px;
  padding: 60px;
}

.df-roadmap-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.df-roadmap-list:before {
  content: '';
  position: absolute;
  height: calc(100% - 35px);
  width: 2px;
  background-color: #00c853;
  left: 7px;
  top: 9px;
}

.df-roadmap-list li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 28px;
}

.df-roadmap-list li:last-child {
  margin-bottom: 0;
}

.df-roadmap-dot {
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 2px solid #00c853;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 4px;
}

.df-roadmap-date {
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 500;
  margin-bottom: -3px;
}

.df-roadmap-status {
  position: absolute;
  height: 34px;
  width: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  right: 0;
  border: 2px solid #b5b5b5;
  border-radius: 50%;
  font-size: 14px;
  color: #b5b5b5;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.df-roadmap-status.df-done {
  border: 2px solid #00c853;
  color: #00c853;
}
