/*=== Video Popup ===*/
.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.embed-responsive-3by2::before {
  padding-top: 66%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-21by9::before {
  padding-top: 42.857143%;
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.df-pd-video .df-video-open,
.df-sample-img .df-video-open {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 68px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 48px;
}

.df-pd-video .df-video-open:hover,
.df-sample-img .df-video-open:hover {
  color: rgba(255, 255, 255, 0.7);
}

.df-video-popup {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  left: -100%;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.df-video-popup.active {
  left: 0;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  left: 0;
}

.df-video-popup-overlay {
  position: absolute;
  left: 0;
  right: 0;
  background: #000;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  opacity: 0;
}

.df-video-popup.active .df-video-popup-overlay {
  opacity: 0.8;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.df-video-popup-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 0;
  text-align: center;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0;
  visibility: hidden;
  padding: 15px;
}

.df-video-popup.active .df-video-popup-content {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.df-video-popup-content:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.df-video-popup-container {
  display: inline-block;
  position: relative;
  text-align: left;
  background: #fff;
  max-width: 1100px;
  width: 100%;
  vertical-align: middle;
}

.df-video-popup-container .embed-responsive {
  width: 100%;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.df-video-popup-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: #d90d0d;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.df-video-popup iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

.df-video-popup-close:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 1px;
  background: #fff;
  margin-left: -10px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.df-video-popup-close:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 1px;
  background: #fff;
  margin-left: -10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.df-video-popup-close:hover:before,
.df-video-popup-close:hover:after {
  background: #000;
}

.df-video-popup-layer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.df-video-popup-align {
  overflow: hidden;
}

/*=== End Video Popup ===*/
.df-play-btn.df-style1 {
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
  border: 3px solid #fff;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.df-play-btn.df-style1:hover {
  opacity: 0.8;
}

.df-play-btn.df-style1:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 0 17px 30px;
  border-color: transparent transparent transparent #fff;
  margin-left: -12px;
  margin-top: -17px;
}

.df-video-gallery.df-style1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.df-video-gallery.df-height1 {
  height: 350px;
}

.df-video-gallery.df-height2,
.df-video-gallery.df-height3 {
  height: 224px;
}


.df-video-gallery.df-height4 {
  height: 350px;
}

.df-video-gallery.df-style1 .df-play-btn.df-style1 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  position: relative;
  z-index: 1;
}

.df-video-gallery.df-style1 .df-video-gallery-img {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.df-video-gallery.df-style1:hover .df-video-gallery-img {
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07);
}

.df-video-gallery.df-style2 {
  position: relative;
  display: block;
  background-color: #222;
  border-radius: 4px;
  overflow: hidden;
  padding-top: 56.25%;
}

.df-video-gallery.df-style2 .embed-responsive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.df-video-gallery.df-style2 .df-video-gallery-img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  pointer-events: none;
  border-radius: 4px;
}

.df-video-gallery.df-style2 .df-play-btn.df-style1 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
